#root {
  background: black;
}

#home-container {
  margin: auto;
  padding: 50px 0 0 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 70vw;
  background-color: white;
  font-size: 3em;
}

#profile-pic-container {
  height: 250px;
  width: 250px;
}
#profile-picture {
  border-radius: 50%;
}

#about-container {
  margin: auto;
  background-color: white;
  height: 50vh;
  width: 70vw;
  font-size: 3em;
}

#portfolio-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 70vw;
  background-color: white;
}

#skills-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: auto;
  width: 70vw;
}

#contact-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: auto;
  width: 70vw;
}

.about-heading {
  margin: 0 0 40px 0;
  padding: 0 0 10px 0;
  text-align: center;
  font-size: 1.7em;
  font-weight: 600;
}
.about-paragraph {
  margin: 40px 0 0 0;
  padding: 40px 0 0 0;
  font-style: italic;
  font-size: 0.5em;
  text-align: center;
}

.intro-heading {
  font-size: 1.7em;
}

.intro-description {
  text-align: center;
}

.portfolio-heading {
  margin: 80px 0 40px 0;
  padding: 40px 0 10px 0;
  text-align: center;
  font-weight: 600;
  font-size: 5.5em;
}

.dime-img-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dime-img {
  margin: auto;
  padding: 50px 20px 20px 20px;
  height: 400px;
}

.dime-heading {
  text-align: center;
  padding: 10px 0 20px 0;
  font-weight: 600;
  font-size: 3em;
}

.dime-meta {
  padding: 10px 0 20px 0;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}

.dime-description {
  padding: 5px 0 20px 0;
  font-size: 1.3em;
  font-weight: 500;
  text-align: center;
}

.stack-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px 0 0 0;
}

.stack-icon {
  margin-right: 5px;
  height: 32px;
  width: 32px;
}

.link-icon {
  margin: 10px 0 20px 0;
  padding: 5px 0 10px 0;
  text-align: center;
}

.divider {
  margin: 0 250px 0 250px;
  opacity: 0.7;
}

.dots {
  text-align: center;
  margin: 0 0 50px 0;
}

.github-img {
  height: 32px;
  width: 32px;
}

.skills-heading {
  text-align: center;
  font-size: 5.5em;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.skills-group {
  margin: auto;
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  list-style-type: none;
  font-size: 1em;
}

.skill {
  margin: auto;
  padding: 10px 0 10px 0;
  font-size: 1.7em;
}

.contact-heading {
  text-align: center;
  font-weight: 600;
  font-size: 5.5em;
}

.contact-icon-group {
  margin: 40px 0 40px 0;
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-direction: row;
  text-align: center;
}

.contact-icon {
  box-sizing: border-box;
  margin: 20px 10px 20px 10px;
  height: 50px;
  width: 50px;
}

.aphorism {
  margin: 40px 0 40px 0;
  text-align: center;
  font-style: italic;
}

/* /// Tablets /// */

@media only screen and (min-width: 420px) and (max-width: 1024px) and (max-height: 1366px) {
  #home-container {
    margin: auto;
    padding: 50px 0 0 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 100vh; */
    width: 70vw;
    background-color: white;
    font-size: 3em;
  }

  #profile-pic-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
    width: 250px;
  }
  #profile-picture {
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }

  #about-container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 70vw;
    font-size: 3em;
  }

  #portfolio-container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 70vw;
    background-color: white;
  }

  #skills-container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 70vw;
  }

  #contact-container {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 70vw;
  }
  .dime-img {
    margin: auto;
    padding: 50px 20px 20px 20px;
    height: 300px;
  }

  .dime-heading {
    text-align: center;
    padding: 10px 0 20px 0;
    font-weight: 600;
    font-size: 2.2em;
  }

  .dime-meta {
    padding: 10px 0 20px 0;
    font-size: 1em;
    font-weight: 300;
    text-align: center;
  }

  .dime-description {
    padding: 5px 0 20px 0;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
  }

  .stack-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 0 0 0;
  }

  .stack-icon {
    margin-right: 5px;
    height: 24px;
    width: 24px;
  }

  .link-icon {
    margin: 10px 0 20px 0;
    padding: 5px 0 10px 0;
    text-align: center;
  }
  .aphorism {
    margin: 40px 0 40px 0;
    text-align: center;
    font-style: italic;
  }
}

/* /// Mobiles (iphone 6 and up) /// */

@media only screen and (max-width: 419px) {
  #home-container {
    margin: auto;
    padding: 50px 0 0 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 90vw;
    background-color: white;
    font-size: 3em;
  }

  #profile-pic-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
    width: 250px;
  }
  #profile-picture {
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }

  #about-container {
    margin: auto;
    background-color: white;
    height: 70vh;
    width: 90vw;
    font-size: 3em;
  }

  #portfolio-container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 90vw;
    background-color: white;
  }

  #skills-container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: auto;
    width: 90vw;
  }

  #contact-container {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    height: auto;
    width: 90vw;
  }

  .intro-heading {
    text-align: center;
    font-size: 40px;
  }
  .intro-description {
    text-align: center;
    font-size: 12px;
  }
  .intro-group {
    margin: 20px 0 10px 0;
    padding: 10px 0 5px 0;
  }
  .about-heading {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
  }
  .about-paragraph {
    font-style: italic;
    font-size: 12px;
    text-align: center;
  }
  .portfolio-heading {
    text-align: center;
    font-size: 40px;
    margin: 20px 0 0 0;
    padding: 20px 0 0 0;
  }
  .dots {
    text-align: center;
    margin: 0 0 50px 0;
  }

  .divider {
    margin: 0 50px 0 50px;
    opacity: 0.7;
  }

  .dime-img-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .dime-img {
    margin: auto;
    padding: 50px 20px 20px 20px;
    height: 200px;
  }

  .dime-heading {
    text-align: center;
    padding: 10px 0 20px 0;
    font-weight: 600;
    font-size: 24px;
  }

  .dime-meta {
    padding: 5px 0 10px 0;
    font-size: 8px;
    font-weight: 300;
    text-align: center;
  }

  .dime-description {
    padding: 5px 0 10px 0;
    font-size: 10px;
    text-align: center;
  }

  .stack-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 0 0 0;
  }

  .stack-icon {
    margin-right: 5px;
    height: 16px;
    width: 16px;
  }

  .link-icon {
    margin: 10px 0 20px 0;
    padding: 5px 0 10px 0;
    text-align: center;
  }
  .github-img {
    height: 32px;
    width: 32px;
  }

  .skills-heading {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin: 0 0 20px 0;
  }

  .skills-group {
    margin: auto;
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    list-style-type: none;
    font-size: 1em;
  }

  .skill {
    margin: auto;
    padding: 5px 0 5px 0;
    font-size: 14px;
  }

  .contact-heading {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
  }

  .contact-icon-group {
    margin: 40px 0 40px 0;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
  }

  .contact-icon {
    margin: 10px 5px 10px 5px;
    height: 32px;
    width: 32px;
  }
  .aphorism {
    margin: 10px 0 10px 0;
    text-align: center;
    font-style: italic;
  }
}

/* /// Old mobiles /// */

@media only screen and (max-width: 320px) {
  .intro-group {
    margin: 20px 0 10px 0;
    padding: 10px 0 5px 0;
  }
  .dime-img-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .dime-img {
    margin: auto;
    padding: 50px 20px 20px 20px;
    height: 200px;
  }

  .dime-heading {
    text-align: center;
    padding: 10px 0 20px 0;
    font-weight: 600;
    font-size: 24px;
  }

  .dime-meta {
    padding: 5px 0 10px 0;
    font-size: 6px;
    font-weight: 300;
    text-align: center;
  }

  .dime-description {
    padding: 5px 0 10px 0;
    font-size: 8px;
    text-align: center;
  }

  .stack-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 0 0 0;
  }

  .stack-icon {
    margin-right: 5px;
    height: 16px;
    width: 16px;
  }
  .aphorism {
    margin: 10px 0 10px 0;
    text-align: center;
    font-style: italic;
  }
}
